.textarea__wrapper {
  .auto-size-text-area {
    appearance: none;
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(35, 35, 35);
    padding: 0px 0px 8px;
    border-radius: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 38px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
    transition: box-shadow 0.1s ease-out 0s;
    box-shadow: #fcb9b2 0px 1px;

    &:focus {
      box-shadow: #faa69c 0px 2px;
    }
    &::placeholder {
      opacity: 0.7;
      font-size: 20px;
      color: gray;
    }

    .textarea-required--border {
      box-shadow: #f70303 0px 1px;

      &:focus {
        box-shadow: #f70303 0px 2px;
      }
    }
  }
}

.textarea__error-info {
  margin-top: 12px;

  .error-message {
    margin: 0px;
    max-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #f70303;
  }
}

.textarea__action-info {
  margin-top: 12px;

  .action-text {
    margin: 0px;
    max-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(35, 35, 35);
  }
}
