<section class='questn-page'>
  <div class='questn-page__container'>
    <section class='questn-page__container-wrapper'>
      <section class='questn-page__container-pattern-layer'>
        <div class='pattern-dot'></div>
        <div class='pattern-circle'></div>
        {{! pattern-dot--size }}
      </section>
      <section class='questn-page__container-content-layer'>
        <div class='row' id='questn-page-id'>
          <LandingPage  @model={{@model}}/>
        </div>
      </section>
    </section>
  </div>
</section>